*{
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 15px;
  background-color: #d5dae0;
  }

  /* Banner image */
  .background-image {
    /* Use "linear-gradient" to add a darken background effect to the image (outdoor 2.jpg). This will make the text easier to read */
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) ,url(../images/Milford\ Sounds.JPG);
    
      
    /* Banner height */
    height: 70%;
    
    /* Banner Image scale  */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }   

/* Header */
  .hero-text {
    text-align: center;
    vertical-align: top;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d5dae0;
  }

  .hero-text h1 {
  font-family: 'Alice',serif;
  font-size: 60px;
  }

  .hero-text h2 {
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  font-weight: 300;
  }


  .navbar {
    overflow: hidden;
    background-color: #7f735a;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: #d5dae0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #d5dae0;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #2c2e2b;
    color: #d5dae0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2c2e2b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: #d5dae0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #7f735a;
     }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  /* About Section - Main Page*/
  .about {
    text-align: center, justify;
    font-size: 20px;
    color: #2c2e2b ;
    padding-left: 20px;
  }
/* Footer */
  footer {
    background-color: #7f735a;
    color: #d5dae0;
    padding: 14px 16px;
    text-align: end, left;
    font-size: 10px;
    font-family: 'Alice',serif;
    padding-left: 20px;
}
  /*Media Query - Mobile*/
  @media screen and (max-width: 320px) {
    
  }

  /*Media Query - Tablet*/
 @media screen and (max-width: 768px) {
  .navbar {width: 691px;}
  .about {text-align: center;}
  .background-image {align-items: center;}
  .hero-text {text-align: center;}    
}

 /*Media Query - Desktop*/
 @media screen and (min-width: 1201px) {
}

